<main class="mainAdalabers">
    <section></section>
    <ol class="mainAdalabers__steps">
        <li>
            <div class="mainAdalabers__steps--items">
                <h2 class="mainAdalabers__steps--number">01</h2>
                <h5 class="mainAdalabers__steps--text">Completa el formulario con tus datos</h5>
            </div>
            <img class="mainAdalabers__steps--visual" src="./assets/images/form.png" title="ventana formulario"
                alt="ventana formulario">

        </li>
        <li>
            <div class="mainAdalabers__steps--items">
                <h2 class="mainAdalabers__steps--number">02</h2>
                <h5 class="mainAdalabers__steps--text">Revisa, modifica y acepta la previsualización</h5>
            </div>
            <img class="mainAdalabers__steps--visual" src="./assets/images/adalaber.png"
                title="adalaber completando formulario" alt="adalaber completando formulario">
        </li>
        <li>
            <div class="mainAdalabers__steps--items">
                <h2 class="mainAdalabers__steps--number">03</h2>
                <h5 class="mainAdalabers__steps--text">Comparte nuestra web en tu redes</h5>
            </div>
            <img class="mainAdalabers__steps--visual" src="./assets/images/sharing.png" title="altavoz para compartir"
                alt="altavoz para compartir">
        </li>
    </ol>
    </section>
    <section>
        <form class="mainAdalabers__form form-group js-form" id="form">
            <label class="mainAdalabers__form--label" for="nickName">1. Tu nombre o nickName</label>
            <input class="mainAdalabers__form--input form-control js-input" type="text" name="nickName"
                placeholder="Ej. CrisBiB">
            <label class="mainAdalabers__form--label" for="currentlyProfession">2. Tu profesión actual y empresa</label>
            <textarea class="mainAdalabers__form--input form-control js-input" type="text" name="currentlyProfession"
                placeholder="Ej. Desarrolladora front-end en búsqueda de su primera oportunidad"></textarea>
            <label class="mainAdalabers__form--label" for="originalProfession">3. Tu profesión original</label>
            <textarea class="mainAdalabers__form--input form-control js-input" type="text" name="originalProfession"
                placeholder="Ej. Psicóloga y técnica de proyectos en organizaciones sociales"></textarea>
            <label class="mainAdalabers__form--label" for="power">4. Tu super poder</label>
            <textarea class="mainAdalabers__form--input form-control js-input" type="text" rows="3" name="power"
                placeholder="Ej. Escucho atenta, pienso tranquila y tomo decisiones segura."></textarea>
            <label class="mainAdalabers__form--label" for="promo">5. Promo Adalab</label>
            <select class="mainAdalabers__form--select form-control js-input" type="text" name="promo">
                <option value=""></option>
                <option value="Promo A">Promo A</option>
                <option value="Promo B">Promo B</option>
                <option value="Promo C">Promo C</option>
                <option value="Promo D">Promo D</option>
                <option value="Promo E">Promo E</option>
                <option value="Promo F">Promo F</option>
                <option value="Promo G">Promo G</option>
                <option value="Promo H">Promo H</option>
                <option value="Promo I">Promo I</option>
                <option value="Promo J">Promo J</option>
                <option value="Promo K">Promo K</option>
                <option value="Promo L">Promo L</option>
            </select>

            <label class="mainAdalabers__form--label" for="languages">6. Lenguajes y librerías que manejas
                <div class="form-checkform-check-inline">
                    <div class="row">
                        <div class="col-4 languages">
                            <label for="html5" class="form-check-label">HTML5
                            </label>
                            <input type="checkbox" id="html5"
                                class="mainAdalabers__form--input form-check-input js-input" name="languages">
                        </div>
                        <div class="col-4 languages">
                            <label for="css3" class="form-check-label">CSS3</label>
                            <input type="checkbox" name="css3"
                                class="mainAdalabers__form--input form-check-input js-input" name="languages">
                        </div>
                        <div class="col-4 languages">
                            <label for="js" class="form-check-label">Javascript </label>
                            <input type="checkbox" id="js" class="mainAdalabers__form--input form-check-input js-input"
                                name="languages">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-4 languages">
                            <label for="react" class="form-check-label">React </label>
                            <input type="checkbox" id="react"
                                class="mainAdalabers__form--input form-check-input js-input" name="languages">
                        </div>


                        <div class="col-4 languages">
                            <label for="angular" class="form-check-label">Angular </label>
                            <input type="checkbox" id="angular"
                                class="mainAdalabers__form--input form-check-input js-input" name="languages">
                        </div>
                        <div class="col-4 languages">
                            <label for="node.js" class="form-check-label">Node.js </label>
                            <input type="checkbox" id="node.js"
                                class="mainAdalabers__form--input form-check-input js-input" name="languages">
                        </div>
                    </div>
                    <div class="row">
                        <div class=" languages col-12">
                            <label for="otros" class="form-check-label">Otros
                            </label>
                            <input type="checkbox" id="otros"
                                class="mainAdalabers__form--input form-check-input js-input" name="languages">
                        </div>
                    </div>

                </div>
            </label>
            <label for="working">7. ¿Trabajas actualmente?</label>
            <label for="work">Sí</label>
            <input type="radio" id="employed" name="working" value="yes">
            <label for="nonEmployed">No</label>
            <input type="radio" id="nonEmployed" value="no" name="working">
            <div>
                <span>8. Tu foto de perfil</span>
                <label for="photo" class="btn btn-primary btn-lg js-button">Añadir foto</label>
                <input type="file" id="photo" class="js-upload-image">
                <span></span>
            </div>
            <div>
                <span>9. Fondo decorativo</span>
                <label for="background" class="btn btn-primary btn-lg js-button">Añadir fondo</label>
                <input type="file" id="background" class="js-upload-image">
                <span></span>
            </div>
            <label for="portfolio" class="mainAdalabers__form--label">10. Link a tu portfolio</label>
            <input id="portfolio" class="mainAdalabers__form--input form-control js-input" type="text" name="portfolio"
                placeholder="https://github.com/CrisBIB">
            <div class="button-container"><button
                    class="mainAdalabers__form--button btn btn-primary btn-lg js-button">Previsualización</button></div>
        </form>
    </section>
</main>