<main class="mainAdalabers">
    <section></section>
    <ol class="mainAdalabers__steps">
        <li>
            <div class="mainAdalabers__steps--items">
                <h2 class="mainAdalabers__steps--number">01</h2>
                <h5 class="mainAdalabers__steps--text">Completa el formulario con tus datos</h5>
            </div>
            <img class="mainAdalabers__steps--visual" src="./assets/images/form.png" title="ventana formulario"
                alt="ventana formulario">

        </li>
        <li>
            <div class="mainAdalabers__steps--items">
                <h2 class="mainAdalabers__steps--number">02</h2>
                <h5 class="mainAdalabers__steps--text">Revisa, modifica y acepta la previsualización</h5>
            </div>
            <img class="mainAdalabers__steps--visual" src="./assets/images/adalaber.png"
                title="adalaber completando formulario" alt="adalaber completando formulario">
        </li>
        <li>
            <div class="mainAdalabers__steps--items">
                <h2 class="mainAdalabers__steps--number">03</h2>
                <h5 class="mainAdalabers__steps--text">Comparte nuestra web en tu redes</h5>
            </div>
            <img class="mainAdalabers__steps--visual" src="./assets/images/sharing.png" title="altavoz para compartir"
                alt="altavoz para compartir">
        </li>
    </ol>
    </section>
    <section>
        <include src="./form.html"></include>
    </section>
    <section>
        <div class="js.card"></div>
    </section>
</main>