<main class="main">
    <ol class="main__list">
        <li>
            <div class="main__list--items">
                <h2 class="main__list--numberSteps">01</h2>
                <h3 class="main__list--textSteps">Completa el formulario con tus datos</h3>
            </div>
            <img class="main__list--visualSteps" src="./assets/images/form.png" alt="">

        </li>
        <li>
            <div class="main__list--items">
                <h2 class="main__list--numberSteps">02</h2>
                <h3 class="main__list--textSteps">Revisa, modifica y acepta la previsualización</h3>
            </div>
            <img class="main__list--visualSteps" src="./assets/images/adalaber.png" alt="">
        </li>
        <li>
            <div class="main__list--items">
                <h2 class="main__list--numberSteps">03</h2>
                <h3 class="main__list--textSteps">Comparte nuestra web en tu redes</h3>
            </div>
            <img class="main__list--visualSteps" src="./assets/images/sharing.png" alt="">
        </li>
    </ol>
</main>