.topMenu {
  &__list {
    color: $color-fourth;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 10px;
    color: $color-secondary;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: $color-shadow1;
    padding: 10px 0;
    z-index: 1;
    &--items {
      text-align: center;
    }
    &--links {
      outline: none;
      color: $color-secondary;
      &:active {
        text-decoration: none;
        color: $color-secondary;
      }
    }
    &--icon {
      width: 28px;
      padding-bottom: 10px;
    }
  }
}
