<main class="main">
    <img src="./assets/images/portrait.png" alt="" class="main__image">
    <div class="main__title">
        <h2 class="main__title--h2">Portfolios</h2>
        <h1 class="main__title--h1">Adalabers</h1>
    </div>
    <div class="main__subtitle">
        <p>Para adalabers con rumbo.</p>
        <p>Para empresas diversas.</p>
        <p>Y para quienes solo navegan.</p>
    </div>
    <img src="./assets/images/call_to_action_portrait.png" alt="" class="main__call">
</main>