<nav class="topMenu">
    <ul class="topMenu__list">
        <li class="topMenu__list--items">
            <a class="topMenu__list--links" href="./index.html">
                <img class="topMenu__list--icon" src="./assets/images/HomeIcon.png" alt="">
                <p>Home</p>
            </a>
        </li>
        <li class="topMenu__list--items">
            <a class="topMenu__list--links" href="./adalabers.html">
                <img class="topMenu__list--icon" src="./assets/images/adalaberIcon.png" alt="">
                <p>Adalabers</p>
            </a>
        </li>
        <li class="topMenu__list--items">
            <a class="topMenu__list--links" href="./companies.html">
                <img class="topMenu__list--icon" src="./assets/images/companyIcon.png" alt="">
                <p>Empresas</p>
            </a>
        </li>
        <li class="topMenu__list--items">
            <a class="topMenu__list--links" href="./visitors.html">
                <img class="topMenu__list--icon" src="./assets/images/visitorIcon.png" alt="">
                <p>Visitantes</p>
            </a>
        </li>
    </ul>
</nav>