<nav class="topMenu">
    <ul class="topMenu__list">
        <li class="topMenu__list--items">
            <img class="topMenu__list--icon" src="./assets/images/companyIcon.png" alt="">
            <p>Company</p>
        </li>
        <li class="topMenu__list--items">
            <img class="topMenu__list--icon" src="./assets/images/adalaberIcon.png" alt="">
            <p>Adalaber</p>
        </li>
        <li class="topMenu__list--items">
            <img class="topMenu__list--icon" src="./assets/images/visitorIcon.png" alt="">
            <p>Visitor</p>


        </li>
    </ul>
</nav>