.mainAdalabers {
  font-size: 12px;
  display: block;
  color: $color-white;
  &__steps {
    padding: 90px 20px 50px;
    background: $gradient;
    list-style: none;
    &--items {
      padding: 20px 20px 20px 20px;
      display: flex;
    }
    &--number {
      font-size: 50px;
      font-weight: 700;
    }
    &--text {
      font-weight: 300;
      padding: 10px 20px 10px 20px;
      width: 100%;
    }
    &--visual {
      width: 150px;
      margin: auto;
      align-items: center;
      display: flex;
    }
  }
  &__form {
    padding: 40px;
    color: $color-primary;
    font-size: 14px;
    display: block;
    &--label {
      padding: 10px;
      margin: 0;
    }
    &--input {
      font-size: 11px;
      flex-wrap: wrap;
      &::placeholder {
        font-size: 11px;
      }
    }
    &--button {
      margin: 20px;
    }
  }
}

//Probaría a maquetarlo con GRID: https://books.adalab.es/materiales-front-end-l/modulo-1-html-y-css/maquetacion-web/1_11_sistema_de_grid

.form-check-input {
  // padding-left: 15px;
}

.form-check-label {
  padding: 0px 25px 0px 0px;
  font-size: 9px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-primary.btn-lg {
  margin-top: 20px;
}
.btn.btn-primary.btn-lg.baton {
  max-width: 150px;
  padding: 5px 5px;
  font-size: 10px;
  background: $color-fourth;
}

.js-upload-image {
  display: none;
}

.languages {
  padding: 0px;
}

.btn.btn-primary.btn-lg {
  padding: 10px 5px;
}
