.mainAdalabers {
  font-size: 12px;
  display: block;
  color: $color-white;
  &__steps {
    padding: 90px 20px 50px;
    background: $gradient;
    list-style: none;
    &--items {
      padding: 20px 20px 20px 20px;
      display: flex;
    }
    &--number {
      font-size: 50px;
      font-weight: 700;
    }
    &--text {
      font-weight: 300;
      padding: 10px 20px 10px 20px;
      width: 100%;
    }
    &--visual {
      width: 150px;
      margin: auto;
      align-items: center;
      display: flex;
    }
  }
  &__form {
    padding: 40px;
    color: $color-primary;
    font-size: 14px;
    &--label {
      padding: 10px;
      margin: 0;
    }
    &--input {
      &::placeholder {
        font-size: 11px;
      }
    }
    &--button {
      margin: 20px;
    }
  }
}

.form-check-input {
  // padding-left: 15px;
}

.form-check-label {
  padding-right: 25px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-primary.btn-lg {
  margin-top: 20px;
}
