.mainAdalabers {
  font-size: 12px;
  display: block;
  color: $color-white;
  &__steps {
    padding: 90px 20px 50px;
    background: $gradient;
    list-style: none;
    &--items {
      padding: 20px 20px 20px 20px;
      display: flex;
    }
    &--number {
      font-size: 50px;
      font-weight: 700;
    }
    &--text {
      font-weight: 300;
      padding: 10px 20px 10px 20px;
      width: 100%;
    }
    &--visual {
      width: 150px;
      margin: auto;
      align-items: center;
      display: flex;
    }
  }
  &__form {
    padding: 40px;
    color: $color-primary;
    font-size: 14px;
    display: block;
    &--label {
      padding: 10px;
      margin: 5px;
    }
    &--checkLabel {
      padding: 0px 25px 0px 0px;
      font-size: 10px;
    }
    &--input {
      font-size: 11px;
      flex-wrap: wrap;
      &::placeholder {
        font-size: 11px;
      }
    }
    &--plus-button {
      width: 15px;
      height: 15px;
      color: $color-white;
      background-color: $color-fourth;
      border: none;
      margin: 0;
    }
    &--button {
      margin: 20px;
    }
  }
}
.js-upload-image {
  display: none;
}
.elements-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
}
.preview {
  border: solid 1px $color-primary;
  height: 28px;
  &__photo {
    width: 30px;
  }
  &__background {
    width: 60px;
  }
}
.othersLabel {
  padding-right: 5px;
}
