.mainCompanies {
  font-size: 12px;
  display: block;
  color: $color-white;
  &__claim {
    padding: 90px 20px 50px;
    margin-top: 90px;
    background: $gradient;
    list-style: none;
    &--number {
      font-weight: 700;
      font-size: 80px;
      text-align: center;
      color: $color-secondary;
    }
    &--text {
      font-weight: 300;
      padding: 10px 20px 10px 20px;
      width: 100%;
      text-align: center;
      color: $color-fourth;
    }
  }
  &__reasons {
    background: $gradient2;
    padding: 20px 20px;

    &--items {
      list-style-type: none;
    }
    &--number {
      text-align: center;
      display: block;
      font-weight: 700;
      font-size: 40px;
    }
  }
  &__dataBase--filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

.mb-3 {
  width: 85%;
  padding: 10px 20px;
  margin-bottom: 0px !important;
  // justify-content: center;
}
