<header class="header">
    <img src="./assets/images/portrait.png" alt="" class="header__image">
    <div>
        <div class="header__title">
            <h1 class="header__title--h1">Adalabers</h1>
            <h2 class="header__title--h2">Portfolios</h2>
        </div>
        <div class="header__subtitle">
            <p>Para adalabers con rumbo.</p>
            <p>Para empresas diversas.</p>
            <p>Y para quienes solo navegan.</p>
        </div>
    </div>
    <include src="../anchors.html" aClass="header__scroll" link="#claim" icon="./assets/images/ico-scroll-down.svg"
        alt="scroll a la siguiente sección" title="scroll a la siguiente sección">
    </include>
    </div>
</header>