<main class="main">
    <section class="main__claim" id="claim">
        <p class="main__claim--h2">El sector digital necesita más talento femenino que traiga diversidad, crecimiento,
            innovación y aporte una sensibilidad y perspectivas diferentes.</p>
        <p class="main__claim--h3">Este espacio surge para dar a conocer a programadoras que lo valen: por su
            conocimiento, su desempeño y su valentía para reinventarse y profesionalizarse en el sector tecnológico.
        </p>
    </section>
    <section class="main__menu">
        <h2 class="main__menu--title">¡Únete y descubre!</h2>
        <nav>
            <ul class="main__list">
                <li class="button btn btn-primary btn-lg">
                    <a><img class="main__list--icon" src="./assets/images/companyWhiteIcon.png" alt="">¿Eres una
                        empresa?</a>
                </li>
                <li class="btn btn-primary btn-lg">
                    <a><img class="main__list--icon" src="./assets/images/adalaberWhiteIcon.png" alt="">¿Eres una
                        adalaber?</a>
                </li>
                <li class="btn btn-primary btn-lg">
                    <a><img class="main__list--icon" src="./assets/images/visitorWhiteIcon.png" alt="">¿Eres un/a
                        visitante?</a>
                </li>
            </ul>
        </nav>
    </section>
</main>