<main class="mainIndexIndex">
    <section class="mainIndex__claim" id="claim">
        <p class="mainIndex__claim--h2">El sector digital necesita más talento femenino que traiga diversidad,
            crecimiento,
            innovación y aporte una sensibilidad y perspectivas diferentes.</p>
        <p class="mainIndex__claim--h3">Este espacio surge para dar a conocer a programadoras que lo valen: por su
            conocimiento, su desempeño y su valentía para reinventarse y profesionalizarse en el sector tecnológico.
        </p>
    </section>
    <section class="mainIndex__menu">
        <h2 class="mainIndex__menu--title">¡Únete y descubre!</h2>
        <nav>
            <ul class="mainIndex__list">
                <li>
                    <a class="button btn btn-primary btn-lg mainIndex__list--link" href="./companies.html"><img
                            class="mainIndex__list--icon" src="./assets/images/companyWhiteIcon.png" alt="">¿Eres una
                        empresa?</a>
                </li>
                <li>
                    <a class="btn btn-primary btn-lg mainIndex__list--link" href="./adalabers.html"><img
                            class="mainIndex__list--icon" src="./assets/images/adalaberWhiteIcon.png" alt="">¿Eres una
                        adalaber?</a>
                </li>
                <li>
                    <a class="btn btn-primary btn-lg mainIndex__list--link" href="./visitors.html"><img
                            class="mainIndex__list--icon" src="./assets/images/visitorWhiteIcon.png" alt="">¿Eres un/a
                        visitante?</a>
                </li>
            </ul>
        </nav>
    </section>
</main>