<main class="main">
    <section class="main__claim" id="claim">
        <h2 class="main__claim--h2">El sector digital necesita más talento femenino que traiga diversidad, crecimiento,
            innovación y aporte una sensibilidad y perspectivas diferentes.</h2>
        <h3 class="main__claim--h3">Este espacio surge para dar a conocer a programadoras que lo valen: por su
            conocimiento, su desempeño y su valentía para reinventarse y profesionalizarse en el sector tecnológico.
        </h3>
    </section>
    <section class="main__menu">
        <h2 class="main__menu--h2">¡Únete, ojea y descubre!</h2>
        <nav>
            <ul class="main__list">
                <li class="button main__list--company">
                    <p>¿Eres una empresa?</p>
                    <img src="./assets/images/companies_hands.png" alt="botón ¿eres una adalaber?"
                        title="botón ¿eres una adalaber?" class="button__image button__image--adalabers">
                </li>
                <li class="button main__list--adalaber">
                    <p>¿Eres una adalaber?</p>
                    <img src="./assets/images/adalabers_hands.png" alt="botón ¿eres una adalaber?"
                        title="botón ¿eres una adalaber?" class="button__image button__image--adalabers">
                </li>
                <li class="button  main__list--visitor">
                    <p>¿Eres un/a visitante?</p>
                    <img src="./assets/images/visitors_hands.png" alt="botón ¿eres una adalaber?"
                        title="botón ¿eres una adalaber?" class="button__image button__image--adalabers">
                </li>
            </ul>
        </nav>
    </section>
</main>