.footer {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-size: small;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  @media all and (min-width: 600px) {
    padding: 20px 50px;
  }
  &__left {
    margin-top: 10px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    &--logo {
      width: 75px;
      margin-top: 3px;
      @media all and (min-width: 600px) {
        width: 100px;
        margin-top: 8px;
      }
    }
  }
}
