.footer {
  border-top: solid 1px rgba($color-primary, 0.2);
  font-weight: 300;
  font-size: small;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  @media all and (min-width: 600px) {
    padding: 15px 50px;
  }
  &__left {
    margin-top: 10px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    &--logo {
      width: 75px;
      margin-top: 3px;
      @media all and (min-width: 600px) {
        width: 100px;
        margin-top: 8px;
      }
    }
  }
}
