.main {
  background: $color-primary;
  width: 100%;
  height: 90vh;
  font-family: $font-primary;
  &__image {
    width: 100%;
    height: 50vh;
    box-shadow: 0 1px 10px 0 $color-shadow1;
  }
  &__title {
    background: rgba($color-white, 0.9);
    width: 70%;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0 10px 10px 0 $color-shadow1, 0 1px 3px $color-shadow2;
    &--h2 {
      text-transform: uppercase;
      font-size: small;
      font-weight: 500;
    }
    &--h1 {
      text-transform: lowercase;
      color: $color-secondary;
      font-weight: 700;
    }
  }
  &__subtitle {
    color: $color-white;
    font-weight: 300;
    font-size: small;
    line-height: 25px;
    margin: auto 50px;
    font-style: oblique;
  }
  &__call {
    width: 25%;
    position: absolute;
    right: 0;
    bottom: 10%;
  }
}
