//fonts
$font-primary: "Comfortaa", cursive;

//main colors
$color-primary: #434693;
$color-secondary: #54c6c4;
$color-third: coral;
$color-white: rgb(240, 248, 255);

//color-shadows
$color-shadow1: rgba(0, 0, 0, 0.2);
$color-shadow2: rgba(0, 0, 0, 0.35);
