<div class="mainCompanies__dataBase--filters">
    <label for="promo"></label>
    <select class="form-select form-select-lg mb-3" name="promo" id="promo">
        <!-- Futuro: el filtro contendrá las promos de aquellas adalabers que hayan creado tarjeta -->
        <option selected>Selecciona una promoción</option>
        <option value="Promo A">Promo A</option>
        <option value="Promo B">Promo B</option>
        <option value="Promo C">Promo C</option>
        <option value="Promo D">Promo D</option>
        <option value="Promo E">Promo E</option>
        <option value="Promo F">Promo F</option>
        <option value="Promo G">Promo G</option>
        <option value="Promo H">Promo H</option>
        <option value="Promo I">Promo I</option>
        <option value="Promo J">Promo J</option>
        <option value="Promo K">Promo K</option>
        <option value="Promo L">Promo L</option>
    </select>
</div>
<div class="mainCompanies__dataBase--filters">
    <label for="working"></label>
    <select class="form-select form-select-lg mb-3" name="working" id="working">
        <option selected>¿En activo?</option>
        <!-- <option value="all"></option> -->
        <option value="yes">Sí</option>
        <option value="no">No</option>
    </select>
</div>
<label for="stack">Stack tecnológico</label>
<!-- Copiar código del formulario (adalabersPage) -->
<div class="mainCompanies__dataBase--cards js-cards">
</div>
<div class="js-cards"></div>